html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */


.front
{
    display: flex;
    flex-wrap: nowrap;
    width: 20000px;
}
#c1{
    width: 1550px;
    height: 775px;
}


#c2{
    display: flex;
    flex-wrap: nowrap;
    width: 1550px;
    height: 775px;
}
#c3 {
    width: 1550px;
    height: 775px;
}

#yarn
{
    position: fixed;
    width: 200px;
}



/** DANSEVIDEO PÅ FORSIDEN **/

#dvideo{
    width: 100%;
    border: none;
}


/** infoboks skal sidde i midten **/
.infobox{
    width: 30%;
    height: 450px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}
.prove{
    overflow: hidden;
    box-shadow: 5px 5px 5px #888888;
}


/** KONTAKT SIDE **/
.colorcloud {
    width: 100%;
    margin-top: 5%;
}

.kontakt {
    line-height: 2;
    margin-left: 10%;
    font-size: 1.2em;
    text-align: center;
}

.ejer {
    line-height: 1.5;
    font-size: em;

    text-align: center;
    }

.tables{
    padding-top: 5%;
    display: flex;
    flex-wrap: nowrap;
}
table{
    margin: 0% 5%;
}

.mailicon {
    width: 9%;
    
}
.instaicon{
    margin-left: 2%;
}

.iconer {
    padding-top: 2%;
}

/** Styling af dots **/


.dotstyle ul {
	position: fixed;
	display: inline-block;
    bottom: 0;
    margin-left: 42%;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

/** CSS hop funktion **/
.dotstyle-hop li a {
	border: 2px solid black;
	background: transparent;
}
/** Hop frem og tilbage **/
.dotstyle-hop li a::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	border-radius: 50%;
	visibility: hidden;
	background: black;
	opacity: 0;
	-webkit-transform: rotate(-100deg);
	transform: rotate(-100deg);
	-webkit-transform-origin: -200% 50%;
	transform-origin: -200% 50%;
	-webkit-transition: -webkit-transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-hop li a:focus {
	background: rgba(255, 255, 255, 0.2);
}

.dotstyle-hop li.current-from-right a::after {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: rotate(100deg);
	transform: rotate(100deg);
	-webkit-transform-origin: 300% 50%;
	transform-origin: 300% 50%;
}

.dotstyle-hop li.current a::after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
