html,
body
{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  background: url('../images/bg.jpg') repeat top left;
}


/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */


.front
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 20000px;
}
.c1{
   
    width: 1550px;
    height: 775px;
}


.c2{
    display: flex;
    flex-wrap: nowrap;
    width: 1550px;
    height: 775px;
}

.c3 {
     width: 1550px;
    height: 775px;
}

/** DANSEVIDEO PÅ FORSIDEN **/

.dvideo{
    width: 100%;
    border: none;
}


/** infoboks skal sidde i midten **/
.infobox{
    width: 30%;
    height: 450px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}
.prove{
    overflow: hidden;
    
    box-shadow: 5px 5px 5px #888888;
}


/** KONTAKT SIDE **/
.colorcloud {
    width: 85%;
    margin-top: 5%;
}

.kontakt {
    line-height: 2;
    margin-left: 10%;
    font-size: 1.2em;
    text-align: center;
}

.ejer {
    line-height: 1.5;
    font-size: em;

    text-align: center;
    }

.tables{
    padding-top: 5%;
    display: flex;
    flex-wrap: nowrap;
}
table{
    margin: 0% 5%;
}

.mailicon {
    width: 9%;
    
}
.instaicon{
    margin-left: 2%;
}

.iconer {
    padding-top: 2%;
}
