html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */

.scroll {
    position: fixed;
    bottom: 0;
    left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */

.front {
    z-index: -4;
    display: flex;
    z-index: -4;
    flex-wrap: nowrap;
    width: 20000px;
}

/** HVER ENKEL UNDERSIDE I VORES WEBDOK______________________________________ **/

/** FORSIDEN **/

#c1 {
    width: 1550px;
    height: 775px;
}

#videoH1 {
    position: absolute;
    font-size: 80px;
    background-color: transparent;
    color: white;

    margin-top: 350px;
    margin-left: 220px;
    text-align: center;

    z-index: 1;
}

#yarn {
    bottom: 0;
    width: 100px;
    margin-left: 1440px;
    position: fixed;
}

/** 1. TEKST **/

#c2 {
    width: 1550px;
    overflow: hidden;
    position: relative;
    height: 775px;
}

.colorcloud {
    width: 100%;
    margin-top: 8%;
    opacity: 0.5;
}

.centered {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.ccsk {
    font-size: 3em;
    top: 53%;
    left: 50%;
}

.overskrift {
    font-size: 2.5em;
    top: 33%;
    left: 50%;
}

/** INTERVIEW VIDEO **/

#c3 {
    display: flex;
    flex-wrap: nowrap;
    width: 1550px;
    height: 775px;
}

.infobox {
    width: 30%;
    height: 450px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}

.prove {
    margin-top: 8%;
    overflow: hidden;
    box-shadow: 5px 5px 5px #888888;
}

/** 2. TEKST **/

#c4 {
    width: 1550px;
    position: relative;
    height: 775px;
}

.billedkasse {
    position: relative;
    z-index: -1;
    margin-top: 4%;
    left: 15%;
    width: 45%;
    height: 75%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 28px 9px rgba(10,10,10,1);
-moz-box-shadow: 0px 0px 28px 9px rgba(10,10,10,1);
box-shadow: 0px 0px 28px 9px rgba(10,10,10,1);
}

.c4billed {
    margin-top: -18%;
    width: 100%;
}

.tekstkasse {
    position: absolute;
    padding: 9px;
    background-color: dimgrey;
    margin-top: -4.0845%;
    left: 71%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -8px 7px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 7px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -8px 7px 14px 0px rgba(0, 0, 0, 0.75);
}

.billedtekst {
    margin-top: 1%;
    font-family: sans-serif;
    font-size: 42px;
}

/** BILLEDER **/

#c5 {
    width: 1550px;
    height: 775px;
}

#c5p {
    padding-left: 100px;
    padding-right: 700px;
    margin-top: 100px;
    color: black;
    font-size: 1.8rem;
    font-family: sans-serif;
}

#sweaterA {
    position: absolute;
    margin-top: -270px;
    margin-right: 50px;
    margin-left: 800px;
    transform: rotate(15deg);
}

#garnKey {
    position: absolute;
    margin-left: 300px;
    margin-top: 100px
}

/** KONTAKT SIDEN**/

#c6 {
    width: 1550px;
    height: 775px;
}

#c7 {
    width: 1550px;
    background-color: deeppink;
    height: 775px;
}

/** DANSEVIDEO PÅ FORSIDEN_________________________________________ **/

#dvideo {
    width: 100%;
    border: none;
    filter: blur(6px)
}

/** STYLING AF DOTS_____________________________________________________________ **/

.dotstyle ul {
    position: fixed;
    display: inline-block;
    bottom: 0;
    margin-left: 42%;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dotstyle li {
    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    /* gør teksten så lille at man ikke kan se den */
    cursor: pointer;
    position: absolute;
}

.dotstyle li a:focus {
    outline: none;
}

/** CSS HOPPE FUNKTION FOR DOTS___________________________________________________________ **/

.dotstyle-hop li a {
    border: 2px solid black;
    background: transparent;
}

/** HOPPE FRA OG TILBAGE FUNKTION FOR DOTS________________________________________________ **/

.dotstyle-hop li a::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 50%;
    visibility: hidden;
    background: black;
    opacity: 0;
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg);
    -webkit-transform-origin: -200% 50%;
    transform-origin: -200% 50%;
    -webkit-transition: -webkit-transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
    transition: transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-hop li a:focus {
    background: rgba(255, 255, 255, 0.2);
}

.dotstyle-hop li.current-from-right a::after {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
    -webkit-transform-origin: 300% 50%;
    transform-origin: 300% 50%;
}

.dotstyle-hop li.current a::after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
